---
import Header from '../components/Header.astro';
import Project from "../components/Project.astro";
import Sidebar from "../components/Sidebar.astro";
const projects = [
  {
    title: "MtondoCare",
    desc: [
      "Built an infrastructure for a telemedicine startup focusing on remote patient monitoring",
      "Developed a comprehensive CI/CD pipeline for mobile app deployment",
      "Automated the build and release process for both iOS and Android platforms using Expo Application Services (EAS)",

    ],
    tech: ["Kotlin", "ReactNative", "Expo","Nodejs", "Docker", "Nginx", "Github CI/CD"]
  },
  {
    title: "MtondoData",
    desc: [
      "Built an infrastructure for a data analytics platform",
      "Configured VMs and deployed a multi-node Kubernetes cluster on AWS",
      "Designed to handle a high volume of ~5 million data points per day",
      "Integrated Grafana and Prometheus for monitoring",
    ],
    tech: ["Docker", "Kubernetes", "AWS", "Node.js","python", "RabbitMQ"]
  },
  {
    title: "MtondoEase",
    desc: [
      "Developed a data application for visualizing and analyzing complex datasets",
      "Implemented interactive dashboards and reports using R and Observable",
      "Automated data pipelines for ingestion, transformation, and loading of various data sources"
      
    ],
    tech: ["R", "Tiddyverse", "webr","Obsevable", "Github CI/CD"]
  }
];
---

<!DOCTYPE html>
<html
>
  <Header title="DevOps | Michael Kachiwala Jr" />
  <body>
    <div class="content">
        <Sidebar selectedItem="data-science" />
      <nav class="main">
        <div class="container">
          <div class="back-nav-container">
            <a href="/" class="back-nav-button w-inline-block"
              ><img src="/assets/back.svg" loading="lazy" alt="" class="back-nav-img" />
              <div>Back</div></a
            >
          </div>
          <div class="content-container">
            <h1>Data Science/DevOps</h1>
            <section class="items-container">
                <div class="resouce-items">
                    {projects.map(project => (
                      <Project 
                        title={project.title} 
                        desc={project.desc}
                        tech={project.tech}
                      />
                    ))}
                  </div>
            </section>
          </div>
        </div>
      </nav>
    </div>

    <!--[if lte IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
  </body>
</html>
